.shopTitle {
    margin-top: 50px;
    margin-bottom: 200px;

    text-align: center;
    font-size: 40px;
    color: rgb(30, 30, 88);

  }
  .products {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  
  .product {
    border-radius: 15px;
    width: 400px;
    height: 400px;
    margin: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .product img {
    width: 400px;
  }

  .product button {
    font-size: 20px;
  }
  
  .product .description {
    text-align: center;
    font-size: 20px;
    color: rgb(30, 30, 88);
  }
  
  .product:hover {
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .addToCartBttn {
    background-color: transparent;
    border: 2px solid rgb(30, 30, 88);
    min-width: 150px;
    min-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
  }
  
  .addToCartBttn:hover {
    background-color: rgb(30, 30, 88);
    color: white;
    cursor: pointer;
  }